[submodule "lib/Eigen"]
	path = lib/Eigen
	url = https://github.com/PX4/eigen.git
	branch = 3.4
[submodule "lib/imgui"]
	path = lib/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "lib/SDL2"]
	path = lib/SDL2
	url = https://github.com/libsdl-org/SDL.git
	branch = release-2.30.2
[submodule "lib/SDL2_Image"]
	path = lib/SDL2_Image
	url = https://github.com/libsdl-org/SDL_image.git
	branch = release-2.8.2
